body{
    background-color: black;
    margin: 3rem 4rem; 
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color:whitesmoke;
    padding-bottom: 2rem;
    letter-spacing: 3px;
}

h2{
    font-family: "Ysabeau SC", serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color:whitesmoke;
    margin-bottom:3rem;
    letter-spacing: 3px;
}

h3{
    font-family: "Lexend", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:black;
    padding-bottom: 1.5rem; 
}

p, label{
    font-family: "Lexend", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    text-align: justify;
    color:black;
}

.page1{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 20px;
    padding:1.5rem;
    margin-bottom: 2rem;
}

.page2{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 20px;
    padding:1.5rem;
    margin-bottom: 2rem;
    display:flex;
    justify-content: space-around;
}

.contenedor-icons{
    display:flex;
    justify-content: space-between;
    padding-top:65px;
}

form{
    display:flex;
    flex-direction: column;
}

textarea, input[type="text"], input[type="url"] {
    border: none;
    border-radius: 20px;
    padding: 0.3rem;
}

input[type="submit"] {
    width: 100%;
    padding: 0.3rem;
    margin-top: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgba(131,58,180,1);
}
