body{
    background-color: black;
    margin: 4rem 3rem 1.5rem 3rem; 
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color:whitesmoke;
    padding-bottom: 2rem;
    letter-spacing: 3px;
}

h2{
    font-family: "Ysabeau SC", serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color:whitesmoke;
    margin-bottom:3rem;
    letter-spacing: 3px;
}

h3{
    font-family: "Lexend", sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color:black;
    padding-bottom: 2rem;
}

p, label{
    font-family: "Lexend", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    text-align: justify;
    color:black;
}

.page1, .page3{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.page2{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 20px;
    padding:2rem;
    margin-bottom: 2rem;
    display:flex;
    justify-content: space-around;
    gap:60px;
}

.containericons{
    display:flex;
    justify-content: space-between;
    padding-top:65px;
}

form{
    display:flex;
    flex-direction: column;
}

textarea, input[type="text"], input[type="url"] {
    border: none;
    border-radius: 20px;
    padding: 0.7rem;
    font-family: "Lexend", serif;
}

input[type="submit"] {
    width: 100%;
    padding: 0.3rem;
    margin-top: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, .containercards div:hover {
    background-color: rgba(131,58,180,1);
}

.page3 div {
    padding: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    position:relative;
}

.page3 div span{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 50%;
    font-family: "Lexend", serif;
    font-size: 1rem;
    font-weight: 800;
}

.containercards div span:hover {
    background-color: rgba(253,29,29,1);
}

.containercards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

h4 {    
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px;
}

.page3 div p{
    color:white;
    line-height: 20px;
    font-size: 0.8rem;
    font-weight: 300;
}

.page3 img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
}


